[
  {
    "client_id": "{{ diode_to_netbox_client_id }}",
    "client_secret": "{{ diode_to_netbox_client_secret }}",
    "grant_types": ["client_credentials"],
    "scope": "netbox:read netbox:write"
  },
  {
    "client_id": "{{ netbox_to_diode_client_id }}",
    "client_secret": "{{ netbox_to_diode_client_secret }}",
    "grant_types": ["client_credentials"],
    "scope": "diode:read diode:write"
  },
  {
    "client_id": "{{ orb_diode_client_id }}",
    "client_secret": "{{ orb_diode_client_secret }}",
    "grant_types": ["client_credentials"],
    "scope": "diode:ingest"
  }
]
