<VirtualHost *:80>
        ServerName {{ServerName}}

        ServerAdmin {{ServerAdmin}}
        DocumentRoot {{DocumentRoot}}

        ErrorLog ${APACHE_LOG_DIR}/error.log
        CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>

